# .gitignore - Git ignore file for copy-on-select-2.
#
# Copyright (C) 2024 Jens Schmidt
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# SPDX-FileCopyrightText: 2024 Jens Schmidt
#
# SPDX-License-Identifier: MPL-2.0

# (sync-mark-left-over-files)
content/copy-on-select-2-[0-9][0-9].png
content/copy-on-select-2-notext.svg
src/copy-on-select-2-128.png
src/copy-on-select-2-32.png
src/copy-on-select-2-64.png

.secrets
dist
